.title{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    line-height: 1.0;
}
.olives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    .title{
        font-size: 8.4rem;
        span{
            font-size: 5.1rem;
        }
    }
}

.section2{

}