.title {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}
.olives {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

// ----------========== NAV ============----------
.navbar {
  position: absolute;
  width: 100%;
  z-index: 500;
  .navbar-custom{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0;
    padding: 0;
    .menu-item{
      list-style: none;
      text-align: center;
      &:hover{
        .nav-link{
          color: $secondary;
        }
      }
    }
    .nav-link{
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Poppins";
      color: #fff;

    }
    // flex-direction: row;
    @include media-breakpoint-down(xl){
      .menu-item:first-child{
        text-align: end;
      }
      .menu-item:last-child{
        text-align: start;
      }

      // a{
      //   display: flex;
      //   justify-content: center;
      // }
    }
  }
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

.header-padding {
  padding-top: 6rem;
}

.navbar-loc{
  flex-wrap: wrap;
}


.nav-brand img {
  width: 100%;
  height: auto;
}

.nav__wrap {
  max-width: 1620px;
  width: 100%;
  padding-left: 11rem;
  padding-right: 11rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

#footer{
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-padding {
  padding-bottom: 17.5rem;
  @include media-breakpoint-down(lg){
  padding-bottom: 7.5rem;
  }
}
.footer-cfa{
  width: 18.3rem;
  height: auto;
}
.footer-tiger{
  width: 32.6rem;
  height: auto;
}
.footer-cfa,
.footer-tiger{
@include media-breakpoint-down(xl){
  transform: translateY(-5rem);
  }
}
// ----------========== /NAV ============----------

// ----------========== AUX ============----------

.aux {
  // position: absolute;
  // width: 100vw;
  .aux-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url("../img/aux-left.webp");
    background-size: contain;
    background-repeat: repeat-y;
    width: 11rem;
    z-index: 4;
    @include media-breakpoint-down(md){
      width: 5rem;
  }
  }
  .aux-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: url("../img/aux-right.webp");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right;
    width: 11rem;
    z-index: 4;
    @include media-breakpoint-down(md){
        width: 5rem;
    }
  }
}

// ----------========== /AUX ============----------

// ----------========== SECTIONS ============----------

.s-hero {
  padding-top: 26.5rem;
  // min-height: 90rem;
  background-image: url("../img/bg-section-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 50;
  .title {
    font-size: 6.1rem;
    .title--lower {
      line-height: 0.8;
      font-size: 11.5rem;
    }
  }
  .olives {
    gap: 2rem;
  }
  &__heroes {
    display: flex;
    @media (min-width: 1900px) {
      margin-top: -9rem;
    }
    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .scrolldown {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-chevron {
      padding-top: 2rem;
      padding-bottom: 2rem;
      animation: 3s $transition infinite pulse;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translateY(0rem);
  }
  30% {
    transform: translateY(2rem);
  }
}

// ++SEKCJA VOTING++

.s2 {
  position: relative;
  &a {
    background-image: url("../img/bg-section-disc.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 12rem;
    min-height: 100rem;
    z-index: 31;
    .olives {
      gap: 2.4rem;
    }
    .title {
      margin-bottom: 2rem;
      h2 {
        line-height: 1;
      }
    }
    p {
      font-size: 2.5rem;
      line-height: 1.3;
    }
    &--spacing{
      padding-bottom: 69rem;
    }
    &__content {
      // display: flex;
      // justify-content: center;
      // position: relative;
      max-width: 100%;
      height: 100%;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      // justify-content: center;
      &--img {
        // position: absolute;
        // bottom: 0;
        // left: 50%;
        max-width: 100%;
        // transform: translateY();
      }
    }
    &__games {
      // max-width: 100%;
      position: absolute;
      bottom: -5rem;
      left: 20%;
      transform: translateX(-20%);
      height: auto;
      width: 69rem;
      max-width: 100%;
      z-index: 32;
      @media (min-width:1920px){
        left: 50%;
        transform: translateX(-80%);
      }
    }
    &__shini {
      position: absolute;
      bottom: 0;
      right: 20%;
      transform: translateX(40%);
      height: auto;
      width: 71rem;
      max-width: 100%;
      @media (min-width:1920px){
        left: 50%;
        transform: translateX(20%);
      }
    }
  }
  &b {
    background-image: url("../img/bg-section-vote.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 102rem;
    color: $primary;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 13rem;
    position: relative;
    z-index: 30;
    .olives {
      gap: 5rem;
    }
    .title {
      h3 {
        margin-bottom: 3.5rem;
      }
    }
  }
}

// --SEKCJA VOTING--

// ++SEKCJA INFLUENCERZY++

.s3 {
  // background: url("../img/bg-influ.png") $primary;

  min-height: 134.5rem;
  position: relative;
  // padding-bottom: 6rem;
  // z-index: 20;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary url("../img/bg-influ.png");
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: -1;
  }
  .title {
    position: relative;
    align-items: flex-start;
    padding-top: 7rem;
    font-size: 5rem;
    z-index: 5;
    height: 33rem;

    span {
      font-size: 4rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 108rem;
      height: 33rem;
      background-image: url("../img/bg-influ-txt.svg");
      background-size: contain;
      z-index: -1;
    }
  }

  .influs {
    position: relative;
    z-index: 15;
    &__wrap {
      max-width: 1700px;
      padding-left: 11rem;
      padding-right: 11rem;
      padding-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      @include media-breakpoint-down(md){
        padding-left: 6rem;
        padding-right: 6rem;
      }
    }
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 1fr 0.3fr 1fr 0.3fr;
    // grid-column-gap: 10px;
    grid-row-gap: 30px;
    // max-width: 1500px;

    justify-content: center;

    transition: $transition;
  }

  .influ-1 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .influ-2 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .influ-3 {
    grid-area: 2 / 3 / 4 / 4;
  }
  .influ-4 {
    grid-area: 1 / 4 / 3 / 5;
  }
  .influ-5 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .influ-6 {
    grid-area: 3 / 2 / 5 / 3;
  }
  .influ-7 {
    grid-area: 4 / 3 / 6 / 4;
  }
  .influ-8 {
    grid-area: 3 / 4 / 5 / 5;
  }

  .influ {
    &__photo {
      transition: 0.3s $transition-2;
    }
    &:hover {
      .influ__photo {
        filter: drop-shadow(0px -16px 20px $tertiary);
      }
    }
    &__wrap {
      position: relative;
      display: inline-block;
      width: 100%;
      transition: $transition;
      z-index: 14;
      & > img {
        width: 100%;
        height: auto;
        transition: $transition-2;

        //   position: relative;
        // margin-top: auto;
      }
    }
    &__meta {
      position: absolute;
      bottom: 2.5rem;
      display: flex;
      align-items: flex-end;
      & > i {
        position: relative;
        z-index: 15;
        height: 8.8rem;
        width: 8.8rem;
        & > img {
          width: 100%;
          height: auto;
        }
      }
      .name {
        display: inline-block;
        background-color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 3rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        line-height: 1;
        position: relative;
        z-index: 14;
        margin-bottom: 0.5rem;
      }
      &--r {
        right: 2.5rem;
        .name {
          padding-left: 2.5rem;
          padding-right: 5rem;
          transform: translateX(4rem);
        }
      }
      &--l {
        left: 2.5rem;
        .name {
          padding-left: 5rem;
          padding-right: 2.5rem;
          transform: translateX(-4rem);
        }
      }
    }
    // &::after {
    //   position: absolute;
    //   bottom: 2.5rem;
    //   background-image: url("../img/icon-twitch.png");
    // }
  }

  @include media-breakpoint-down(xl) {
    .influs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.5fr 1fr 0.5fr;
      grid-column-gap: 0px;
      grid-row-gap: 30px;
    }

    .influ-1 {
      grid-area: 1 / 2 / 3 / 3;
    }
    .influ-2 {
      grid-area: 2 / 1 / 4 / 2;
    }
    .influ-3 {
      grid-area: 3 / 2 / 5 / 3;
    }
    .influ-4 {
      grid-area: 4 / 1 / 6 / 2;
    }
    .influ-5 {
      grid-area: 5 / 2 / 7 / 3;
    }
    .influ-6 {
      grid-area: 6 / 1 / 8 / 2;
    }
    .influ-7 {
      grid-area: 7 / 2 / 9 / 3;
    }
    .influ-8 {
      grid-area: 8 / 1 / 10 / 2;
    }
  }
}

// --SEKCJA INFLUENCERZY--

// ++SEKCJA DISCORD++

.s-dc {
  position: relative;
  z-index: 50;
  &__img{
    display: grid;
    justify-content: center;
    @include media-breakpoint-down(md){
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .discord {
    position: relative;
    padding-bottom: 14rem;
    .olives {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: auto;
      margin-right: auto;
      transform: translate(-50%, -50%);
    }
  }
  &__tigerki {
    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-110%, -42%);
    img {
      max-width: 100%;
      width: 37.9rem;
      height: auto;
    }
    @media screen and (min-width: 1920px) {
      left: 0;
      transform: translate(0, -42%);
    }
  }
}

// --SEKCJA DISCORD--




// ++SEKCJA GŁOSOWANIE++

.s-voting{
  // min-height: 135.8rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary url("../img/bg-influ.png");
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    // z-index: -1;
  }
  &__content{
    padding-top: 11rem;
    padding-bottom: 10rem;
    position: relative;
    z-index: 30;
  }
  h1{
    font-size: 5.9rem;
    font-weight: 600;
  }
  p{
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    line-height: 1.1;
  }
}


// --SEKCJA GŁOSOWANIE--



// ++HARMONOGRAM++

.harmonogram{
  &__wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 11rem;
    padding-right: 11rem;
    position: relative;
    background: transparent linear-gradient(0deg, #389BC6 0%, #389BC600 100%) 0% 0% no-repeat padding-box;
    // z-index: 4;
  }
  &__influ{
    position: relative;
    p{
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translate(-50%);
      font-size: 3.3rem;
      font-weight: 600;
      line-height: 1.1;
      text-align: center;
      @include media-breakpoint-down(md){
        bottom: 2rem;
      }
      span{
        font-size: 4.1;
      }
    }
    img{
      max-width: 100%;
    }
  }
  &__cont{
    // min-height: 71rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 12rem;
    @include media-breakpoint-down(md){
      padding: 6rem;
  }
    &::after{
      content: "";
      height: 63.4rem;
      width: 28.2rem;
      position: absolute;
      right: 20%;
      top: -50%;
      transform: translate(130%,-20%);
      background-image: url("../img/tigerki-harmo.webp");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 50;
      @media (min-width:1920px){
        right: 0;
        transform: translate(0,0);

      }
    }
    img{
      max-width: 143.6rem;
      width: 100%;
      height: auto;
    }
  }
}


// --HARMONOGRAM--
