html {
    font-size: 62.5%; //1rem = 10px
    overflow-x: hidden;
    // color: $dark;
    background-color: $primary;
    @include media-breakpoint-down(md){
        font-size: 45%;
    }
    @include media-breakpoint-down(md){
        font-size: 35%;
    }
    @media (max-width:320px){
        font-size: 27.5%;
    }
}

body {
    font-size: 2rem;
    overflow: hidden;
    letter-spacing: 0.03rem;
    font-weight: 700;
    color: #fff;
    background-color: $primary;
    // background-image: url("../img/bg1.webp");
    // background-repeat: repeat-y;
    // background-position-x: center;
    // background-size: 100%;
}


// h1{
//     font-size: 4.5rem;
// }

h2{
    font-size: 6rem;
    font-weight: 600;
}

h3{
    font-size: 5rem;
    font-weight: 600;
}



.text-center{
    text-align: center;
}

.olive-left,.olive-right,.olive-left-dark,.olive-right-dark,.olive-left-gold,.olive-right-gold{
    width: 10.4rem;
    height: 2.8rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.olive-left{
    background-image: url("../img/olive-left.svg");
}
.olive-right{
    background-image: url("../img/olive-right.svg");
}
.olive-left-dark{
    background-image: url("../img/olive-left-dark.svg");
}
.olive-right-dark{
    background-image: url("../img/olive-right-dark.svg");
}
.olive-left-gold{
    background-image: url("../img/olive-left-gold.svg");
}
.olive-right-gold{
    background-image: url("../img/olive-right-gold.svg");
}


.text-white{
    color: #fff;
}
.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}

.navbar{
    background-color: transparent;
}

#footer{
    background-color: transparent;
}

.button{
    font-family: "Poppins";
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 3.3rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    height: 10rem;
    max-width: 53.4rem;
    width: 100%;
    white-space: nowrap;
    clip-path: polygon(0 0, 100% 7%, 94% 86%, 9% 100%);
    background-color: $secondary;
    transition: $transition;
    &:hover{
        clip-path: polygon(10% 10%, 89% 9%, 100% 92%, 0 90%);
        // clip-path: polygon(15% 5%, 95% 5%, 85% 95%, 5% 95%);
    }
}

.line-start,.line-end{
    background-image: url("../img/line.png");
    // background-size: auto;
    height: 11.23px;
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    left: 0;
    z-index: 31;
}

.line-start{
    top: 0;    
}
.line-end{
    bottom: 0;
}


.title{
    @include media-breakpoint-down(md){
        font-size: smaller;
    }
}