$primary: #133341;
$secondary: #DCA74A;

$navbar-dark-color: rgba(255,255,255, 1);
$navbar-dark-hover-color: $secondary;
$navbar-dark-disabled-color: rgba(255,255,255, 0.3);
$navbar-dark-active-color: transparent;

// $link-hover-color: $orange;